# eBay OAuth credentials
# Get these from https://developer.ebay.com/my/keys
EBAY_CLIENT_ID=your_ebay_client_id
EBAY_CLIENT_SECRET=your_ebay_client_secret

# The URL of the ebayAuthCallback Cloud Function
# After first deploy, set this to: https://<region>-<project-id>.cloudfunctions.net/ebayAuthCallback
EBAY_REDIRECT_URI=https://us-central1-buymywedding-21.cloudfunctions.net/ebayAuthCallback

# eBay Platform Notifications
# Verification token from eBay notification subscription setup
EBAY_VERIFICATION_TOKEN=your_ebay_verification_token
# The public URL of the ebayNotification Cloud Function
EBAY_NOTIFICATION_ENDPOINT=https://us-central1-buymywedding-21.cloudfunctions.net/ebayNotification
